#container-video {
    display: flex;
    justify-content: center;
}

#video-lessons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

#lessons-list {
    margin-top: 50px;
    color: rgb(207, 65, 8);
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    padding-left: 20px;
    font-size: 20px;
}