# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\learn_mindx_1-main\japaneseElearning\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
